@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root{
    --white: #201e1e;
    --grey:#f0f4f8;
}
.Main{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-around;
}
body{
    /* background: url('background.jpeg'); */
    /* background-image: linear-gradient(to right bottom, #f5e7cf, #f5e6cb, #f5e4c6, #f6e3c2, #f6e1be, #f6dfb8, #f7ddb2, #f7dbac, #f7d8a2, #f8d498, #f8d18f, #f8cd85); */
    /* background-image: linear-gradient(to right bottom, #f8cd85, #f8d18f, #f8d498, #f7d8a2, #f7dbac, #f7ddb2, #f6dfb8, #f6e1be, #f6e3c2, #f5e4c6, #f5e6cb, #f5e7cf); */
    /* background-image: linear-gradient(to left top, #f4eb36, #f8e443, #fbde4f, #fdd85a, #fdd265, #fdce6b, #fcca72, #fac678, #f8c27c, #f6bf80, #f3bc84, #f0b988); */
    /* background: linear-gradient(135deg, rgba(113, 0, 255, 1) 0%, rgba(0, 0, 0, 1) 48%, rgba(208, 62, 120, 1) 100%); */
    /* background-image: linear-gradient(to top, #c70d56, #cf1559, #d81c5c, #e0235e, #e92961, #e31d67, #dd106d, #d50073, #b8007d, #930086, #64008d, #090a90); */
    /* background-image: linear-gradient(to right bottom, #ec5f41, #e44965, #cc4484, #a54b9a, #7253a4, #5f4b92, #4d4380, #3e3b6d, #3d2a4c, #311c2f, #1e1118, #000000); */
    background-image: linear-gradient(to right bottom, #d16ba5, #c15ea9, #ac53ad, #934cb3, #7247b8, #5d42b4, #433db0, #1d38ac, #192f9f, #142792, #0e1e85, #071678);
    margin: 0 0 0 0;
    background-repeat: no-repeat;
    color: black;
    font-family:system-ui;
    overflow: hidden;
    user-select: none;
}
.dark-mode{
    background-color: #101213;
    color: white;
    border-color: grey;
}
/* .top-header img{ */
    /*  */
    /* height: 6vh;
    margin: 5vh 0 0 12vh; */
    /* max-width: 100%; */
/* } */
/* .home-logo{ */
    /* padding: 0% 0 0 0rem; */
    /* font-weight: 900; */
    /* width: 50rem; */
    /* height: 4rem; */
    /* background-color: white; */
/* } */
/* .mid-nav{
    margin: 0rem 0 0 0rem;
    height: 4rem;    
    display: flex;
    flex-direction:row;
    letter-spacing: 0px;
    font-family: "Montserrat", sans-serif;
    color: white;
    list-style: none;
}
.mid-nav li{
    padding: 3rem 1rem 0 1rem ;
    font-weight: 900;
    font-size: 13px;
    letter-spacing: 2px;
    margin: 0 1rem 0 0;
    max-width: 9rem;
    height: 2rem;
    
    font-family: "VT323", monospace;
    
} */

/* .right-nav{
    margin: -2rem 1rem 0 0;
    display: flex;
    flex-direction:row-reverse;
    letter-spacing: 0px;
    font-family: 'Quicksand',sans-serif;
    color: white;
    list-style: none;
}.right-nav li{
    text-shadow: 0px 1px 0px rgb(129, 126, 126); 
    width: 9rem;
    font-size:25px;
    font-weight: 900;
    height: 2rem;
} */
/* .task-main{ */
    /* margin:auto; */
    /* position: absolute; */
    /* justify-content: center;
    display: flex;
    flex-direction: column; */
/* } */
.logo{
    height: 5rem;
    /* width: 25rem; */
    position: absolute;
    z-index: 3;
    margin: 4rem 0 0 102rem;
}
.AC-logo{
    height: 4.2rem;
    /* width: 25rem; */
    position: absolute;
    margin: 14rem 0 0 78rem;
    z-index: 3;
    opacity: 40%;
}
.WC-logo{
    height: 4.2rem;
    /* width: 25rem; */
    position: absolute;
    opacity: 40%;
    z-index: 3;
    margin: 14rem 0 0 90rem;
}
.TC-logo{
    height: 4.2rem;
    opacity: 40%;
    /* width: 25rem; */
    position: absolute;
    z-index: 3;
    margin: 14rem 0 0 102rem;
}
.TC-logo:hover, .AC-logo:hover, .WC-logo:hover{
    opacity: 100%;
    cursor: pointer;
    transition: .3s;
}

.task-panels{
    /* display: flex; */
    /* position: absolute; */
    margin: auto;
    width: 115rem;
    height: 100vh;
    /* background-color: white; */
    /* justify-content:left; */
    /* flex-direction:row; */
    /* margin: 1rem 0 0 0; */
    /* opacity: 20%;    */
    /* margin: auto; */
}

.panel1{
    position:absolute; 
    height: 53.85rem;
    /* min-height: 10rem; */
    width: 70rem;
    padding-bottom: 8rem;
    color: black;
    border: 1px solid rgb(124, 78, 78);
    border-radius: 1vh;
    margin: 4rem 0rem 0 .5rem;
    background-color: white;
    
}
.panel1Dark{
    color: white;
    border: none;
    opacity: 90%;
    background-color: #101213;
}
.Dark-Light-mode{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    height: 1.8rem;
    color: white;
    padding-top: .5rem;
    letter-spacing: 1px;
    width: 6rem;
    border-radius: 20px;
    background-color: #202020;
    margin: 1.72rem 0 0 63rem;
    cursor: pointer;
}
.snow-main-page{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    height: 1.8rem;
    color: white;
    padding-top: .5rem;
    letter-spacing: 1px;
    width: 6rem;
    border-radius: 20px;
    background-color: orange;
    margin: 1.72rem 0 0 56.4rem;
    cursor: pointer;
}
.Dark-Light-mode2{
    cursor: pointer;
    display: none;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    height: 1.8rem;
    color: black;
    padding-top: .5rem;
    letter-spacing: 1px;
    width: 6rem;
    border-radius: 20px;
    background-color: #cacaca;
    margin: 1.72rem 0 0 63rem;
}
.task-input-container{
    /* background-color: red; */
    max-height: 34rem;
    overflow: hidden;
}
/* .panel1 img{ */
    /* position: absolute; */
    /* height: 7vh; */
    /* filter: invert(1); */
    /* width: 30vh; */
/* } */
.Today-text{
    /* position: relative; */
    /* color: #000000; */
    margin: 3rem 0 0 4rem;
    font-weight: 700;
    font-size: 38px;
    /* height:2rem; */
    /* width: 2rem; */
}
.My-Tasks{
    /* position: relative; */
    /* color: #000000; */
    margin: 2rem 0 0 4rem;
    font-weight: 700;
    font-size: 18px;
    /* height:2rem; */
    /* width: 2rem; */
}
.Input-box-div{
    outline: none;
    color: black;
    width: 55rem;
    height: 5rem;
    /* opacity: 20%; */
    /* font-family: "Montserrat", sans-serif; */
    /* font-weight: 800; */
    /* overflow-wrap: break-word; */
    /* font-size: 25px; */
    margin: 2rem 0 0 4rem;
    /* border-radius: 8px; */
    border-width: 0;
    border-top:2px #201e1e;
    border-style: solid;
    border-color: rgb(245, 243, 243);
    /* border: solid black; */
}
.Input-box-div-dark{
    color: white;
    border-color: rgb(88, 85, 85);
}
input{
    color: white;
    text-emphasis-color: white;
}
.input-css{
    width: 50rem;
    color: black;
    height: 2rem;
     font-family: "Montserrat", sans-serif;
    font-weight: 500;
    overflow-wrap: break-word;
    font-size: 18px;
    margin: 1rem 0 0 1rem;
    border-radius: 0px;
    border-width: 0;
    border-style: solid;
    background-color: transparent;
}
.input-css-dark{
    color: white;
}
.input-css-dark::placeholder{
    color: white;
}
.Android{
    position:     absolute;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 62rem;
    width: 4rem;
    /* box-shadow:  -2px -2px 2px #d6e4fd,
    2px 2px 2px #a0f7f7; */
    /* rotate: 5deg; */
    /* border: 2px solid rgb(241, 239, 239); */
    opacity: 5%;
    z-index: -1;
    margin: 3.5rem 0rem 0 72rem;
    background-color: #8df1fa;
    /* color: var(--grey); */
    /* letter-spacing: 2px; */
}

.right-nav-panels{
    position: absolute;
    height: 62rem;
    width: 44.5rem;
    opacity: 8%;
    z-index: -1;
    border-radius: 10px;
    background-color: #8df1fa;
    margin: 4rem 0 0 72rem;
}
.clock-current{
    position: absolute;
    height: 59rem;
    color: white;
    width: 42.5rem;
    opacity: 90%;
    font-weight: 900;
    z-index: 3;
    align-items: center;
    border-radius: 10px;
    background-color: #101213;
    margin: 5rem 0 0 73rem;
}
.time-current{
    opacity: 90%;
    position: absolute;
    margin: 2.5rem 50% 0 28%;
    width: 20rem;
    font-size: 65px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
}
.time-heading{
    position: absolute;
    margin: 7rem 0 0 17rem;
    /* background-color: red; */
    opacity: 70%;
    padding: 2px 0 5px 20px;
    width: 15rem;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}
.stop-w-heading{
    /* z-index: -2; */
    user-select: none;
    position: absolute;
    margin: 11.5rem 0 0 42.35%;
    /* background-color: rgb(134, 131, 131); */
    opacity: 30%;
    padding: 2px 0 5px 20px;
    width: 8.8rem;
    /* border-radius: 5px; */
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .5px;
    transition: .3s;
    scale: 1.4;
}
.stop-w-start{
    user-select: none;
    cursor: pointer;
    position: absolute;
    margin: 23rem 0 0 28%;
    /* opacity: 70%; */
    color: black;
    padding: 2px 0 5px 20px;
    width: 5rem;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    background-color: rgb(47, 47, 48);

}
.stop-w-stop{
    background-color: rgb(47, 47, 48);
    user-select: none;
    cursor: pointer;
    position: absolute;
    margin: 23rem 0 0 43%;
    /* opacity: 70%; */
    color: black;
    padding: 2px 0 5px 23px;
    width: 4.8rem;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
}
.stop-w-reset{
    user-select: none;
    cursor: pointer;
    color: black;
    position: absolute;
    margin: 23rem 0 0 58%;
    background-color: rgb(47, 47, 48);
    /* opacity: 70%; */
    padding: 2px 0 5px 20px;
    width: 5rem;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
}
.stop-w-start:hover,.stop-w-reset:hover,.stop-w-stop:hover{
    transition: .2s;
    color: white;
}
.time-zoom{
    cursor: pointer;
    position: absolute;
    color: black;
    margin: .3rem 0 0 33rem;
    background-color: rgb(99, 255, 107);
    opacity: 80%;
    padding: 2px 0 5px 20px;
    width: 8rem;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* letter-spacing: 1px; */
}
.horizontal1{
    width: 70%;
    margin-top: 10rem;
    opacity: 10%;
}
.timer-count{
    user-select: none;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 170px;
    height: 10rem;
    width: 30rem;
    opacity: 70%;
    margin: 11rem 0 0 17%;
    letter-spacing: 2px;
    transition: 1s;
    /* transform: scaleY(1.5); */
    /* font-stretch: ; */
}
.empty-time{
    opacity: 0%;
}
.startM{
    color: rgb(151, 151, 151);
    background-color: #06065c;
 position: absolute;
 z-index: 10;
 margin: 25.5rem 0 0 22rem;
}
.stopM{
    color: rgb(151, 151, 151);
    background-color: #06065c;
    z-index: 10;
    margin: 25.5rem 0 0 29.7rem;
    position: absolute;
}
.resetM{
    color: rgb(151, 151, 151);
    background-color: #06065c;
    z-index: 10;
    margin: 25.5rem 0 0 37.4rem;
 position: absolute;
}
.stop-w-second{
    user-select: none;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25rem;
    height: 10rem;
    width: 32rem;
    /* opacity: 70%; */
    margin: 0rem 0 0 0;
    letter-spacing: 5px;
    transition: 1s;
}
.minutes-heading{
    position: absolute;
    opacity: 70%;
    margin: 13rem 0 0 85%;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0px;
    transition: 1s;
}
.loading{
    position: absolute;
    margin: auto;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 99;
    text-align: center;
    /* align-items: center; */
    color: white;
    padding: 14% 0 50% 0;
    font-size: 200px;
    background-color: rgb(3, 3, 19);
}

.load1{
    /* animation-name: opacity; */
    /* animation: infinite; */
    /* animation-delay: 3s; */
    opacity: 100%;
    animation: opacity 1.02s infinite;
    /* animation-direction: alternate; */
}
@keyframes opacity{
    100%{
        opacity: 1000%;
    }
    /* 100%{
        opacity: 100%;
    } */
    50%{
        opacity: 0%;
    }

}
.load2{
    animation: opacity 1s alternate-reverse infinite ;
    /* animation-delay: s;  */
    margin-left: -3rem;
    /* animation-duration: 1.2s; */
    
}
.load3{
    animation: opacity 0.98s alternate-reverse infinite ;
    margin-left: -3rem;

    /* animation-delay: 1s;  */
    /* animation-duration: 1.2s; */
    
}
.study-mode{
    position: absolute;
    margin: auto;
    display: none;
    /* display: none; */
    z-index: 6;
    /* opacity: 99%; */
    /* align-items: center; */
    /* margin:0 0 0 -5%; */
    width: 100%;
    height: 100%;
    /* transition: 4s; */
    background-color: #101213;
    /* background-color: palevioletred; */
    /* background-color: rebeccapurple; */
    /* background-color: goldenrod; */
    /* background-color: orangered; */
    /* background-color: sandybrown; */
}
.zoom-container{
    /* transition: 1s; */
    /* position: absolute; */
    margin-inline: 23%;
    margin-top: 14%;
    color: white;
    z-index: 8;
    /* display: none; */
    /* padding-right: 200rem; */
    /* background-color: red; */
    height: 20rem;
    width: 30rem;
    /* scale: 4; */
}
.zoom-features{
    /* transition: 1s; */
    /* transition: .2s; */
    /* position: ; */
    /* margin: 40% auto 21.5% 10%; */
    /* position:fixed; */
    color: white;
    opacity: 100%;
    /* display: none; */
    font-size: 25rem;
    /* transition: 1s; */
    opacity: 90%;
    /* position: absolute; */
    /* margin: 2.5rem 50% 0 28%; */
    width: 20rem;
    /* font-size: 65px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    /* margin: 32vh 20vh 0 55vh; */
    /* margin-inline-end: 40rem;
    */
    /* margin-left:40rem ; */
    /* margin:15% 0 0 27% ; */
    /* align-self: center; */
    /* position: absolute; */
    /* top:0;
    bottom: 0;
    left: 0;
    right: 0; */
    /* margin: 20% 50% 0 40%;  */
}
.closebtn{
    position: absolute;
    /* display: none; */
    cursor: pointer;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    margin: -41rem 0 0 84rem;
    /* scale: 5; */
    width: 25rem;
    transition: .5s;

    opacity: 20%;
    font-size: 40px;
    /* z-index: 6; */
}
.tools{
    color: white;
    position: absolute;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-bottom: 2rem;
    background-color: grey;
    margin: 4rem 0 0 88.5rem;
    width: 10rem;
    scale: .6;
    transition: .5s;
    font-size: 40px;
    rotate: -90deg;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    /* left: 10rem; */
    /* height: rem; */
}
.tools:hover{
    margin-left: 87rem;
}
.Close-tools{
    /* color: black; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    transition: 1s;
    position: absolute;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-bottom: 2rem;
    background-color: grey;
    margin: 4rem 0 0 87rem;
    width: 10rem;
    scale: .6;
    transition: .5s;
    font-size: 40px;
    rotate: -90deg;
    display: none;
}
.color-panel{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 4rem;
    border-radius: 10px;
    width: 48rem;
    margin: 4.35rem 0 0 42.2rem;
    /* background-color: blueviolet; */
}

.color1{
    height: 3rem;
    width: 4rem;
    color: transparent;
    background-color: #6C4E31;
    position: relative;
    border-radius: 10px;
    padding-top: 1rem;
    margin: 0 .5rem 0 .5rem;
    border: .5px solid rgb(196, 194, 194);
    transition: .1s;
}
.color1:hover{
    cursor: pointer;
    z-index: 6;
    scale: 1.1;
    border: 3px solid white;
    /* border: solid; */
    /* border-color: white; */
}
.zoom-features-seconds{
    position: absolute;
    font-size: 40px;
    opacity: 78%;
    margin: -7.8rem 0 0 66.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    display: none;

}
.ShowSeconds{
    cursor: pointer;    
    border-radius: 5px;
    position: absolute;
    outline: none;
    margin: -7.3rem 0 0 72rem;
    display: none;
    border: none;
    height: 2rem;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .5px;
    background-color: white ;
    /* border: none; */
}
.day-month{
    margin: -3rem 0 0 25rem;
    width: 30rem;
    opacity: 55%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    /* background-color: red; */
}
.snow-On-Off{
    display: none;
    cursor: pointer;
    position: absolute;
    border: none;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .5px;
    font-size: 20px;
    margin: -7.3rem 0 0 81.4rem;
    outline: none;
    height: 2rem;
    background-color: orange;
}
.ShowSeconds:hover,.snow-On-Off:hover{
    border: 1px solid white;
    scale: 1.05;
}

.zoom-timer-btn{
    z-index: 9999;
    background-color: rgb(53, 50, 50);
    width: 8rem;    
    height: 1.6rem;
    opacity: 40%;
    transition: .8s;
    text-align: center;
    position: absolute;
    margin: -12rem 0 0 -4rem;
    padding: 4px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    color: white;
}
.zoom-Alarm-btn{
    cursor: pointer;
    background-color: rgb(53, 50, 50);
    width: 6rem;
    opacity: 40%;
    height: 1.6rem;
    transition: 1s;
    text-align: center;
    position: absolute;
    margin: -12rem 0 0 5rem;
    padding: 4px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    color: white;
}

.zoom-stop-w-btn{
    background-color: rgb(53, 50, 50);
    width: 6rem;
    height: 1.6rem;
    transition: .4s;
    text-align: center;
    position: absolute;
    margin: -12rem 0 0 -20rem;
    padding: 4px;
    opacity: 40%;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    color: white;
}

.zoom-clock-btn{
    cursor: pointer;
    background-color: rgb(53, 50, 50);
    width: 8rem;
    opacity: 40%;
    height: 1.6rem;
    transition: .6s;


    text-align: center;
    position: absolute;
    margin: -12rem 0 0 -13rem;
    padding: 4px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    color: white;
}
.zoom-Alarm-btn:hover, .zoom-stop-w-btn:hover, .zoom-timer-btn:hover,.zoom-clock-btn:hover{
    color: white;
    cursor: pointer;
    scale: 1.05;
    transition: .1s;
    background-color: #080880;
    opacity: 100%;
}
.TimerSet{
    opacity: 0%;
    /* z-index: 15; */
    position: absolute;
    font-size: 25rem;
    color: rgb(184, 243, 197);
    width: 20rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
}
.timerSet-empty{
    opacity: 0%;
cursor: pointer;
    position: absolute;
    display: flex;
    margin-left: 1rem;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.timer5min,.timer10min,.timer30min,.timer60min{
    z-index: 20;
margin-right: .6rem;
border-radius: 6px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding-top: .3rem;
background-color: rgba(245, 15, 233, 0.133);
margin-top: 27rem;
text-align: center;
width: 5rem;
height: 1.5rem;
}
.alarmContainer{
    display: none;
    position: absolute;
    height: 20rem;
    opacity: 0%;
    margin: -8rem 0 0 -15rem;
    /* background-color: rgb(68, 66, 66); */
    width: 90rem;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    /* flex-direction: column; */
}
.oldAlarm{
    /* z-index: 1; */
    position: absolute;
    font-size: 12rem;
    margin: 0rem 0 0 -5rem;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.ChangeAlarm{
    color: #ff6811;
    cursor: pointer;
    position: absolute;
    margin: 12rem 0 0 -4rem;
    font-size: 1.8rem;
}
.AlarmNotification{
    z-index: 8;
    height: 10rem;
    width: 30rem;
    margin-left: 38%;
    margin-top: 2rem;
    opacity: 0;
    transform: translateY(-10rem);
    border-radius: 2.65rem;
    background-color: rgb(62, 110, 104);
    position: absolute;
    color: white;
    transition: 1.4s;
}

.AlarmNotification img{
    margin-left: -4rem;
    height: 9rem;
    rotate: 9deg;
    animation: bellMove;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes bellMove {
    100%{
        rotate: 9deg;
    }
    50%{
        rotate: -9deg;
    }
    100%{
        rotate: 9deg;

    }
    
}
.turnOffAlarm{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 10rem;
    padding-top: .3rem;
    height: 2.2rem;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 5rem;
    margin: 4rem 0 0 22rem;
}
.notiHeading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 3rem 0 0 5rem;
    position: absolute;
    font-size: 1.6rem;
}
.notiTime{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5rem 0 0 5rem;
    position: absolute;
    font-size: 2rem;
}
#hr{
    position: absolute;
    z-index: 999;
    font-size: 5rem;
    width: 15rem;
    margin: 3rem 0 0 0rem;
    /* background-color: red; */
    background: transparent;
    color:  black;
    height: 8rem;
}
#Min{
    position: absolute;
    margin: 4rem 0 0 18rem;
    /* background-color: red; */
    color: black;
    font-size: 5rem;
    width: 6rem;
    height: 6rem;
}
select {
    margin: 2rem;
    /* border: 2px solid; */
    border: none;
    text-align: center;
    appearance: none;
    -moz-appearance: none;
}

.alarmNum{
    display: none;
    position: absolute;
    height: 15rem;
    width: 30rem;
    padding-left: 2rem;
    justify-content: center;
    margin: 3rem 0 0 49rem;
    border-radius: 2rem;
    background-color: #ffffff;
    /* z-index: 13; */
}
.PostAlarm{
    cursor: pointer;
    /* z-index: 100; */
    position: absolute;
    border: none;
    color: white;
    height: 2rem;
    width: 6rem;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 7%;
    background-color: #422b2b;
    scale: 1.4;
    margin: 11rem 0 0 12rem;
}
.setbackground{
    position: absolute;
    opacity: 75%;
    height: 5rem;
    width: 15.1rem;
    rotate: 90deg;
    background-color: rgb(214, 18, 18);
    /* border-radius: 4px; */
    /* scale: 2; */
    margin: 5rem 0 0 -4.1rem;
    


}


.PlusH{
    border: none;
    height: .3rem;
    border-radius: 5px;
    background-color: rgb(36, 34, 34);
    margin-top: 22%;
    width: 13%;
}
.PlusV{
    border: none;
    height: .3rem;
    border-radius: 5px;
    background-color: rgb(36, 34, 34);
    margin-top: -.7rem;
    rotate: 90deg;
    width: 12.5%;
}








.Music-Heading{
    position: absolute;
    height: 25rem;
    width: 40rem;
    scale: .9;
    /* opacity: 8%; */
    z-index: 3;
    text-align: left;
    font-size: 25px;
    font-weight: 700;
    color: rgb(200, 241, 249);
    border-radius: 10px;
    /* background-color: #8df1fa; */
    margin: 28rem 0 0 74.3rem;
}

.Song-Image{
    height: 13rem;
    width: 10rem;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    z-index: 2;
    position: absolute;
    font-size: 6px;
    opacity: 25%    ;
    /* align-items: center; */
    margin: 4rem 0 0 0;
}
.Music-box{
    height: 20rem;
    position: absolute;
    width: 40rem;
    /* background-color: rgb(235, 235, 235); */
    border-radius: 20px;
    z-index: 2;
    /* opacity: 10%; */
    color: white;
    font-size: 35px;
    /* padding-top: 2rem; */
    /* align-items: center; */
    margin: 1rem 0 0 0rem;
}
.Music-Box-bg{
    height: 13rem;
    position: absolute;
    width: 40rem;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    z-index: -1;
    opacity: 10%;
    color: white;
    font-size: 40px;
    /* padding-top: 2rem; */
    /* align-items: center; */
    /* margin: 0rem 0 0 0rem; */

}
#SongName{
    margin: 0 0 0 1rem;
}

.PlayPause img{
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    margin: .53rem 0 0 .59rem;
}
.Previous img{
    height: 1.2rem;
    width: 1.2rem;
    position: absolute;
    margin: .53rem 0 0 .59rem;
}
.Next img{
    height: 1.2rem;
    width: 1.2rem;
    position: absolute;
    margin: .53rem 0 0 .59rem;
    /* filter:invert(1); */
}
.Restart img{
    height: 1.2rem;
    width: 1.2rem;
    position: absolute;
    margin: .53rem 0 0 .59rem;
}
.hidden{
    display: none;
}

.PlayPause{
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    position: absolute;
    /* background-color: rgb(177, 175, 175); */
    /* opacity: 40%; */
    margin: 16rem 0 0 19rem;
    scale: 2;
}
.Previous{
    align-items: center;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    position: absolute;
    /* background-color: rgb(177, 175, 175); */
    /* opacity: 40%; */
    margin: 16rem 0 0 13rem;
    scale: 2;
}
.Next{
    align-items: center;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    position: absolute;
    /* background-color: rgb(177, 175, 175); */
    /* opacity: 40%; */
    margin: 16rem 0 0 25rem;
    scale: 2;
}
.Restart{
    align-items: center;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    position: absolute;
    /* background-color: rgb(177, 175, 175); */
    /* opacity: 40%; */
    margin: 16rem 0 0 31rem;
    scale: 2;
}
.Song-Title{
    height: 6rem;
    width: 40rem;
    position: absolute;
    background-color: rgb(230, 228, 228);
    border-radius: 20px;
    z-index:-1;
    font-size: 6px;
    /* align-items:l; */
    margin: 4rem 0 0 0;
}
option{
    background-color: rgb(226, 237, 248);
    /* border-radius: 0px; */
    font-weight: 500;
    font-size: 18px;
    /* margin-top: 2rem; */
}
.song-menu{
    padding-inline: 1rem;
    /* border-radius: 20px; */
    background-color: rgb(230, 228, 228);
    width: 10rem;
    height: 2rem;
    margin-top: 1rem;
    font-weight: 500;
    font-size: 14px;
    border: none;
    outline: none;
}
/* .Side-Nav{
    position: absolute;
    height: 20rem;
    width: 41rem;
    opacity: 3%;
    border-radius: 10px;
    background-color: rgb(141, 241, 250);
    margin: 15rem 0 0 72rem;
} */
/* .panel3{ */
    /* border: 1px solid rgb(186, 184, 184);
    border-radius: 1vh;
    position:     absolute;
    border-radius: 10px; */
    /* height: 45vh;
    width: 43vh; */
    /* opacity: 30%; */
    /* margin: 51vh 0rem 0 127vh; */
    /* background-color: white; */
    /* color: var(--grey); */
    /* letter-spacing: 2px; */
/* }
.addTask{ */
    
    /* font-family: "Montserrat", sans-serif;
    font-weight: 900;
    padding: 0rem 0 0 2.2rem;
    font-size: 25px; */
    /* text-shadow: ; */
    /* text-shadow: 2px 3px 0px rgb(129, 126, 126);  */
    

/* } */
::placeholder {
    /* color: rgb(4, 4, 4); */
    /* color: ; */
    opacity: 90%; /* Firefox */
    font-size: 18px;
    font-weight: 400;
  }
/* .taskInput{ */
/* outline: none;
padding-left: 2rem; */
    /* width: 80vh; */
    /* height: 5rem; */
    /* max-height: 20rem;
    color: black;
    opacity: 80%;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    overflow-wrap: break-word;
    font-size: 25px;
    margin: .2rem 0 0 -.3rem;
    border-radius: 80px;
    border: 6px solid rgba(209, 213, 219, 0.3); */
    
/* }
.panel1-date{ */
    /* padding:2rem 0 0 0rem;
    font-family: "Montserrat", sans-serif;
    margin: 0rem 0 0 0rem ;
    height:2rem;
    width: 25rem;
    font-size: 13px;
    font-weight: 900;
    opacity: 100%; */
    
    /* background-color: var(--grey);
    border-radius: 7px;
     */
/* } */
